header{
    height: 100px;
    background-size: cover;
}

.background{
    background-image: url("../images/passport-bckgnd-shield-watermark-blue-repeat.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.banner{
    background-image: url("../images/logo-upitt_blue_new.png");
    background-size: cover;
    background-position: top;
}