body{
    margin: 0;
    padding: 0;
    background-size: cover;
}
.top, .inform, .username, .age-select, .gender-select, .ethnicity-select, .consent, .submit{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.top{
    text-align: center;
    background-size: cover;
    background-color: #003594;
    color: #ffb81c;
    border-radius: 15px;
    margin: 20px;
    padding: 1px;

}

.inform{
    background-size: cover;
    background-color: #003594;
    color: #ffb81c;
    border-radius: 15px;
    margin: 20px;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Helvetica;
    font-size: 1.8rem;
}

input{
    border: 0;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.06);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}

select{
    border: 0;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.06);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

button{
    background-color: #003594;
    color: #ffb81c;
    border: 0;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.06);
    padding: 10px;
    border-radius: 10px;
    font-size: 30px;
}
